html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

  .accordion [type=checkbox] {
    display: none;
  }

  .accordion ul {
    list-style: none;
  }

  .accordion label {
    display: block;
    cursor: pointer;
    border: 2px solid black;
  }

[type=checkbox]:hover ~ .content .image {
    height: 250px; 
  }

.content:hover .image:hover {
    height: 250px; 
  }

  .accordion [type=checkbox]:checked ~ label ~ .content .image {
    height: 250px; 
  }

  .accordion ul li .content .image {
    height: 0px;
	border-top: 0;
    transition: .5s;
  }