html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
 
  .image {
    width: 50%;
  }

  .accordion [type=checkbox] {
    display: none;
  }

  .accordion ul {
    list-style: none;
  }

  .accordion ul li .image {
    height: 0px;
	border-top: 0;
  }

  .accordion label {
    display: block;
    cursor: pointer;
    border: 2px solid black;
  }